Style header and navigation on header start here
.header-main{
    background: linear-gradient(to bottom,rgb(28, 9, 65),rgb(20, 6, 33)) no-repeat;
}

.nav-main{
    display: flex;
    justify-content: space-between;
}
/*Logo and name*/
#web-title{
    display: flex;
    margin: 5px;
    align-items: center;
    animation: fade-up 0.5s;
    img{
        width: 2vw;
        margin-right: 10px;
        margin-left: 40%;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    }
    h1{
        display: flex;
        font-size: 1.5vw;
        color: white;
        font-weight: 900;
        font-style: normal;
    }
    
}

/*Social media link*/
#social-media{
    display: flex;
    align-items: center;
    gap: 10px; /*space between link*/
    white-space: nowrap;
    margin-right: 1vw;
    animation: fade-up 0.5s;
}

.nav-link{
    color: white;
    text-decoration: none;
    font-size: 1.2vw;
    margin: 1vw;
}

hr{
    width: 50%;
    animation:fade-up 0.5s;
}

/*Style body start here*/
body{
    font-family: "Lato", serif;
    background-color: rgb(20, 6, 33);
}

.container{
    /* border: solid yellow;
    border-width: 5px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 9vw;
    animation: fade 2  s ease-in-out;
}

#container-1{
    margin-bottom: 20vw;
    flex-wrap: wrap;
}

#greet-container{
    /* border: solid white;
    border-width: 5px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 3vw;
}
#greeting{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;

    h1{
        font-size: 3vw;
        font-weight: 900;
        color: white;
        position: relative;
    }
}

#contact-button{
    padding: 10px 20px;
    width: 10vw;

    border-radius: 100px;
    margin-top: 20px;
    font-size: 1.5vw;
    font-weight: 600;
    background: linear-gradient(to right, rgb(147, 1, 195), rgb(231, 37, 173));
    border: none;
    cursor: pointer;

    transition: transform 0.3s ease;

}

#contact-button:hover{
    filter: drop-shadow(5px 5px 10px rgb(100, 5, 100));
    transform: translateY(-5px) scaleX(1);
}
/*---About me start here---*/
#image{

    width: 35%;
    margin-right: 3em;
    /* border: solid white;
    border-width: 5px; */
    img{
        width: 100%;
        transform: scaleX(-1);
        position: relative;
        filter: drop-shadow(20px 20px 50px rgb(94, 0, 94));
        transition: transform 0.5s ease;
    }
    img:hover {
        filter: drop-shadow(20px 20px 50px rgb(157, 5, 157));
        transform: translateY(-30px) scaleX(-1);
    }
}

#about-me{
    width: 45vw;
    h1{
        text-align: left;
    }
    p{
        font-family: 'lato', sans-serif;
        color: white;
        font-size: 2vw;
        font-weight: 900;
        text-align: left;
        margin: 10px 10px 2% 0;
    }
}

.content-title{
    color: purple;
    font-size: 4vw;
    font-weight: 900;
    margin-top: 5vw;
}

#illustration-1{
    width: 40vw;
    filter: drop-shadow(30px 30px 1000px rgb(86, 14, 149));
    animation: floating 3s ease-in-out infinite;
}

#my-project{
    text-align: center;
    margin-top: 5vw;
}

#container-3{
    flex-direction: column;
    align-items: center;
}

#skills-information{
    justify-content: space-evenly;
    color: white;
    font-size: 2vw;
    display: flex;
    width: 100%;
    margin-top: 3vw;
    margin-bottom: 0;
    
}

.skills-container{ 
    ul li {
        list-style-type: circle;
        margin-left: 3vw;
        font-size: 1.5vw;
        font-style: italic
    };

    h1{
        color: rgb(241, 174, 255);
        margin: 1vw 0 1vw 0;
        font-weight: 900;
        text-align: left;
        
    }
    background-color: rgb(20, 6, 33);
    padding: 1vw;
    border: solid rgb(20, 6, 33) 1px;
    border-radius: 20px;
    transition: transform 0.5s ease;
}

.skills-container:hover{
    box-shadow: -2px -2px 10px rgb(176, 111, 238), 15px 15px 10px rgb(70, 13, 93);
    transform: translateY(-10px) scaleX(1);
}

#container-4{
    flex-direction: column;
    align-items: center;
    margin-bottom: 0%;
}

#project-container{
    border-radius: 20px;
    margin-top: 5vw;
    flex-wrap: wrap;
    gap: 20px;
}

/*---Contact Start Here---*/

#contact-content{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

#img-contact{
    width: 35%;
    margin-right: 3em;
    position: relative;
    filter: drop-shadow(20px 20px 50px rgb(94, 0, 94));
    transition: transform 0.5s ease;
}

.form-label
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: white;
    font-size: 1.5vw;
    margin: 0.5vw 0 0.5vw 0;
}

.form-input{
    width: 20vw;
    height: 5vh;
    font-size: 1vw;
    color: rgb(8, 5, 5);
    font-family: cursive;
    background-color: rgb(205, 177, 234);
    border: none;
    border-radius: 20px;
}

#submit-form{
    margin: 1vw 0 1vw 0;
    width: 6vw;
    height: 3vh;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 0.7vw;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right,rgb(183, 29, 183),rgb(216, 66, 91));
}

#submit-form:hover{
    
    background-image: linear-gradient(to bottom right,rgb(103, 250, 172),rgb(72, 135, 101));
    animation: bounce 0.5s ease;
}



#message{
    resize: vertical;
}

#container-5{
    h1{
        text-align: center;
    }
    flex-direction: column;
}

.contact-information{
    display: flex;
    flex-direction: column;
}

#img-contact{
    width: 40vw;
    filter: drop-shadow(30px 30px 1000px rgb(86, 14, 149));
    animation: floating 3s ease-in-out infinite;
}
/*---Footer start here---*/
footer{
    display: flex;
    background-color: rgb(26, 4, 53);
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}

#footer-title{
    font-size: 2vw;
    font-weight: bold;
    align-items: center;
    color: purple;
}

#footer-text{
    font-style: italic;
    color: white;
    font-size: 0.7vw;
    text-align: right;
}

#copy-right{
    margin-bottom: 0.5vw;
}

/*---CSS for card goes here---*/
.card{
    display: flex;
    border-radius: 10px;
    color: white;
    flex-direction: column;
    width: 16vw;
    margin: 10px;
    transition: transform 0.5s ease;
    background-image: linear-gradient(to right bottom,rgb(49, 8, 78),rgb(99, 35, 144)
    );
}

.card:hover{
    transform: translateY(-30px);
    filter: drop-shadow(5px 5px 10px rgb(88, 9, 114));
}

.card-img{
    padding: 10px;
    object-fit: contain; /*Make sure the pic fit with the container*/
}

.card-content{
    padding: 10px 10px;
}

.card-name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 1.5vw;
    color: white;
    text-decoration: none;
}

.card-description{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-size: 1vw;
    margin: 5% 0 5% 0;
}

.card-button{
    width: 10vw;
    height: 3vh;
    font-size: calc(1em + 0.5vw); /* Responsive font size */
}

/*ANIMATION*/

html {
    scroll-behavior: smooth;
}

@keyframes bounce {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes fade-up {
    from{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    to{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-down {
    from{
        opacity: 0;
        transform: translateY(0px) scale(0.9);
    }
    to{
        opacity: 1;
        transform: translateY(-30px) scale(1);
    }
}

@keyframes  floating {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-50px); /*The element moves upward by 50 pixels*/
    }

    100%{
        transform: translateY(0px);
    }
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* ---- custom scroll bar ----*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: rgb(217, 203, 230);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient( rgb(217, 203, 230),rgb(164, 5, 227),purple,rgb(164, 5, 227),rgb(217, 203, 230));
}

